{% extends "_layout.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<ul>
    {% for error in errors  %}
    <li>{{error}}</li>
    {% endfor %}
</ul>
<form class="form-signin container" method="POST" action="{{ url_for('users.new') }}">
    <h2 class="form-signin-heading">Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    <button type="submit" class="btn btn-primary">Add user</button>
</form>

{% endblock%}