{% extends "_layout.html" %}
{% block content %}
<h5>my profile page</h5>
<h5>{{current_user.profile_img}}</h5>
-------------<br>

<img src="{{current_user.profile_img}}" alt='oh no' />
<br>-------------
<br>{{current_user}}
<br>-------------
<br>-------------
<br>-------------
<h5>Add posts</h5>
<form action="{{url_for("images.create")}}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
    <input type='file' name="user_file" enctype="multipart/form-data" />
    <button type="submit" class="btn btn-primary">upload</button>
</form>
{%endblock%}