{% extends "_layout.html" %}

{% block title %}
Home
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div style="width:50vw;margin:auto">
    ---------><br>
    <h4>Homepage</h4>
    -----------------><br>
    <h6>
        This is done with flask,mainly to serve as a backend for a UI done with react
    </h6>
    ----------------------><br>
    <h6>Anyway to use it here</h6>
    ------------------------------><br>
    <strong>Steps:</strong>
    <p>
        <ul>
            <li>Signup-- > create an account</li>
            <li>login---- > login with email & pass or continue with google</li>
            <li>when logged in--><strong>Profile</strong> page</li>
        </ul>
    </p>
    <p> under <strong>Profile</strong>--->
        <p>
            <li>post/view images
                <ul>
                    <li>add posts(images)</li>
                </ul>
            </li>
        </p>
        <p>
            <li>view followers</li>
            <ul>
                <li>accept requests & follow users</li>
            </ul>
        </p>
    </p>

</div>

{% endblock %}