{% extends "_layout.html" %}
{% block content %}
<!-- includes the Braintree JS client SDK -->
<script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>

<!-- includes jQuery -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<div style="display:block;text-align:center;padding-top: 50px;width:35vw;margin: auto;" id="dropin-wrapper">
    <h5>Make payment</h5>
    <input type="number" placeholder="amount" id="donation-amount" name="amount" />
    <div id="checkout-message"></div>
    <div id="dropin-container"></div>
    <button class="btn btn-primary" id="submit-button">Submit payment</button>
</div>
<script>
    var button = document.querySelector('#submit-button');
    var amountEL = document.getElementById("donation-amount")
    braintree.dropin.create({
        // Insert your tokenization key here
        authorization: "{{client_token}}",
        container: '#dropin-container'
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                // When the user clicks on the 'Submit payment' button this code will send the
                // encrypted payment information in a variable called a payment method nonce
                $.ajax({
                    type: 'POST',
                    url: 'checkout',
                    data: { 'paymentMethodNonce': payload.nonce, 'amount': amountEL.value },
                    headers: {
                        X_CSRF_TOKEN: "{{csrf_token()}}"
                    }
                }).done(function (result) {
                    // Tear down the Drop-in UI
                    instance.teardown(function (teardownErr) {
                        if (teardownErr) {
                            console.error('Could not tear down Drop-in UI!');
                        } else {
                            console.info('Drop-in UI has been torn down!');

                            // Remove the 'Submit payment' button
                            $('#submit-button').remove();
                            $('#donation-amount').remove();
                            $('h5').remove();
                        }
                    });
                    if (result) {
                        window.setTimeout(function () {
                            $('#checkout-message').html("<h3>Payment done</h3>");
                            window.setTimeout(function () {
                                window.location.href = "/";
                            }, 2000)
                        }, 100)

                    } else {
                        $('#checkout-message').html('<h1>Error</h1><p>Check your console.</p>');
                    }
                });
            });
        });
    });
</script>
{%endblock%}